.header-style {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgb(100, 100, 200);
}

.header-font-style {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.header-hamburger {
	 background: none;
	 border: none;
	 cursor: pointer;
	 displaay: flex;
	 flex-direction: column;
	 justify-content: space-around;
	 width: 30px;
	 height: 20px;
}

.body-background-style {
    width: 100%;
    height: 100vh;
    background-color: rgb(200, 240, 255);
}